body{
    background-color: #EAF6F6;
}
hr{
    border-style:none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: grey;
    width: 5%;

}
h1{
    color: #6B4F4F;
}
h3{
    color: #6B4F4F;
}
